/bootstrap/compiled.php
/vendor
/.idea

/public/images/purchases/*

/public/images/company/*
!/public/images/company/default.*

/public/images/user/*
!/public/images/user/default.*

/public/images/product/*
!/public/images/product/default.*

/public/images/mark/*
!/public/images/mark/default.*

/public/images/category/*
!/public/images/category/default.*

composer.phar
composer.lock
.DS_Store
Thumbs.db
