/bootstrap/compiled.php
/vendor
/.idea
/public/purchases
/public/images
/public/product
/public/mark
/public/company
/public/category
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

