/bootstrap/compiled.php
/vendor
/.idea
/public/images/purchases
/public/images/product
/public/images/mark
/public/images/company
/public/images/category
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

