@-webkit-keyframes parpadeo
	0%
		opacity 0
	50%
		opacity 100%
@-moz-keyframes parpadeo
	0%
		opacity 0
	50%
		opacity 100%
@-o-keyframes parpadeo
	0%
		opacity 0
	50%
		opacity 100%
@-ms-keyframes parpadeo
	0%
		opacity 0
	50%
		opacity 100%
@keyframes parpadeo
	0%
		opacity 0
	50%
		opacity 100%


.load_edc
	height 50px
	left 47%
	overflow hidden
	position absolute
	top 47%
	width 50px
	z-index 999

	.cle_bleu_load_10
		border-radius 50px
		width 50px
		height 50px
		border-top 6px solid #3498DB
		border-right 6px solid #53A93F
		border-bottom 6px solid #DA0F0B
		border-left 6px solid #F1C40F
		-webkit-animation load_dix 1.4s infinite linear
		-moz-animation load_dix 1.4s infinite linear
		-ms-animation load_dix 1.4s infinite linear
		-o-animation load_dix 1.4s infinite linear
		animation load_dix 1.4s infinite linear
	@-webkit-keyframes load_dix
		0%
			-webkit-transform rotate(0deg)
			-moz-transform rotate(0deg)
			-ms-transform rotate(0deg)
			transform rotate(0deg)
		50%
			-webkit-transform rotate(360deg)
			-moz-transform rotate(360deg)
			-ms-transform rotate(360deg)
			transform rotate(360deg)
		100%
			-webkit-transform rotate(720deg)
			-moz-transform rotate(720deg)
			-ms-transform rotate(720deg)
			transform rotate(720deg)

	@-moz-keyframes load_dix
		0%
			-webkit-transform rotate(0deg)
			-moz-transform rotate(0deg)
			-ms-transform rotate(0deg)
			transform rotate(0deg)
		50%
			-webkit-transform rotate(360deg)
			-moz-transform rotate(360deg)
			-ms-transform rotate(360deg)
			transform rotate(360deg)
		100%
			-webkit-transform rotate(720deg)
			-moz-transform rotate(720deg)
			-ms-transform rotate(720deg)
			transform rotate(720deg)

	@-ms-keyframes load_dix
		0%
			-webkit-transform rotate(0deg)
			-moz-transform rotate(0deg)
			-ms-transform rotate(0deg)
			transform rotate(0deg)
		50%
			-webkit-transform rotate(360deg)
			-moz-transform rotate(360deg)
			-ms-transform rotate(360deg)
			transform rotate(360deg)
		100%
			-webkit-transform rotate(720deg)
			-moz-transform rotate(720deg)
			-ms-transform rotate(720deg)
			transform rotate(720deg)

	@keyframes load_dix
		0%
			-webkit-transform rotate(0deg)
			-moz-transform rotate(0deg)
			-ms-transform rotate(0deg)
			transform rotate(0deg)
		50%
			-webkit-transform rotate(360deg)
			-moz-transform rotate(360deg)
			-ms-transform rotate(360deg)
			transform rotate(360deg)
		100%
			-webkit-transform rotate(720deg)
			-moz-transform rotate(720deg)
			-ms-transform rotate(720deg)
			transform rotate(720deg)