// ----- colores ----- //
// amarillos
  //marcas
yellowPython = #FFD94A
yellowGoogle = #F6A615
  // flat
yellowSunFlower = #F1C40F

// anaranjados
orangeFirefox = #D55511
  // flat
orange = #F39C12
orangeCarrot = #E67E22
orangePumpkin = #D35400

// blancos
	// personalizados
whiteEdc1 = #FEFEFE
whiteEdc2 = #FCFCFC
whiteEdc3 = #FAFAFA
whiteEdc4 = #F7F7F7

// azules
	// marcas
blueFacebook = #3B5998
blueLinkedin = #4577A4
bluePython = #377AB1
blueSkype = #2AA2CF
blueTumblr = #445870
blueTwitter = #00ACED
blueVimeo = #5EA0C3
blueInstagram = #4E7CA0
	// flat
blueBelizeHole = #2980B9
blueMidnight = #2C3E50
bluePeterRiver = #3498DB
blueWetAsphalt = #34495E
	// personalizados
blueEdc1 = #4486F7
blueEdc2 = #013f54

// cafe
    // marcas
brownInstagram = #70483E
    // personalizadas
brownAda = #d17922

// grises
	// flat
grayClouds = #ECF0F1
graySilver = #BDC3C7
grayConcrete = #95A5A6
grayAsbestos = #7F8C8D
	// personalizados
grayEdc1 = #ECECEC
grayEdc2 = #E5E5E5

// morados
	// flat
purpleAmethyst = #9B59B6
purpleWisteria = #8E44AD

// negros
    // marcas
blackGithub = #171515
	// personalizados
blackEdc1 = #1A1A1A
blackEdc2 = #2B2B2B
blackEdc3 = #3C3C3C

// rojos
	// marcas
redGPlus = #DD4C39
redYoutube = #DC4639
	// flat
redAlizarin = #E74C3C
redPomegranate = #C0392B
	// personalizados
redEdc1 = #DA0F0B

// rosa
    // marcas
pinkFlickr = #bf2f79

// verdes
	// marcas
greenFontAwesome = #21B384
greenFirefox = #74A82A
	// flat
greenEmerald = #2ECC71
greenNephritis = #27AE60
greenSea = #16A085
greenTurquoise = #1ABC9C
	// personalizado
greenEdc1 = #53A93F