.open
    position relative
    .dropdown-menu
        display block

.dropdown-menu
    background whiteEdc1
    border 1px solid greenEdc1
    border-radius 2px
    box-shadow 0 1px 2px 1px rgba(grayConcrete, .1)
    display none
    float left
    left 0
    list-style none
    margin 4px 0 0
    min-width 220px
    padding 3px 0
    position absolute
    text-align left
    top 100%
    z-index 9999
    li
        a
            clear both
            color blackEdc1
            display block
            padding 3px 6px
            &:hover
                background rgba(greenEdc1, .3)
                text-decoration none
    .divider
        background greenEdc1
        height 1px
        margin 0